.navbar {
    margin-bottom: 0px;
    z-index: 2;
    border: none;
    border-bottom: 1px solid white;
}
.theMenu {
    background-color:#fb05d4;
    border-color: #fbffff;
}
.logo{
	background: url(../images/jioLogo.png) no-repeat 5px 11px #c2038f;
	border-radius: 25px;
	width: 40px;
    height: 40px;
    margin-top:5px;
    background-size: 30px;
}
.navbar-brand1 {
    color: #fff !important;
}
.navbar-brand1 {
    background: url(../images/bot-header-white.png) no-repeat 0px 11px;
    background-size: 25px;
}
.chatText {
	background: #e4e4e4;
	background-image:none !important;
    background-size: cover !important;
    background-position: center top !important;
}
.botImg {
    background: url(../images/bot-header-white.png) no-repeat 4px 2px #8e0435;
    border: 2px solid #8e0435;
    background-size: 22px;
}
.botImg span img{
	opacity: 0;
}
.reply {
    background: #fff;
}
.botReplyText {
    color: #000;
    }
.botReplyTime {
    color: #848484;
}
.perImg {
    background:#fb05d4;
    border: 2px solid white;
}
.perImg span{
    color: #fff;
}
.ask {
    background: #c2038f;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
}
.perAskText {
    color: #fff;
}
.perReplyTime {
    color: #ffb3eb;
}

.speaker button {
    background: url(../images/mic.png) no-repeat 10px 6px #abaaaa;
    background-size: 13px;
    cursor: pointer;
}
.send button {
    background: url(../images/send.png) no-repeat 7px 7px #ffffff;
    background-size: 20px;
    border: 2px solid #057da9;
}
.sendMail {
    background: url(../images/mail.png) no-repeat 7px 9px #005aab;
    background-size: 22px;
    border: 1px solid #23297a;
}
.botOptions {
    border: 1px solid #f1b378;
    background: white;
    color: #f1b378;
}
.botOptions:hover {
    background: #f1b378;
    color: white;
    border-color: #f1b378;
}

/*  Loader Busy  */

.eye1 {
   background: #f11c1c;
}
.roboIcon{ 
	color: #c2038f;
}
.loader--dot:first-child {
  background: #283891;
}
.loader--dot:nth-child(2) {
  background: #e21a2d;
}
.loader--dot:nth-child(3) {
  background: #f7ab20;
}
.loader--dot:nth-child(4) {
  background: #46bca8;
}


